<div class="center jumbotron">
  <h1>Welcome to PODZ</h1>

  <h2>
    A platform for renting services and goods
  </h2>

  <% unless logged_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
