<tr class="list_header">
  <div class="text_container">
    <th class="list_item_text">User</th>
    <th class="list_item_text">Rating</th>
  </div>
  <% if admin? %>
    <div class="button_container">
      <td class="list_item_button">
        <th class="empty_btemplate">Show</th>
      </td>
    </div>
  <% end %>
</tr>