<div class="list_header">
  <div class="text_container">
    <p class="list_item_text header">User</p>
    <p class="list_item_text header">Rating</p>
  </div>
  <% if admin? %>
    <div class="button_container">
      <div class="list_item_button">
        <button class="empty_btemplate">Show</button>
      </div>
    </div>
  <% end %>
</div>