<div class="list_item">
  <div class="text_container">
    <p class="list_item_text"><%= link_to user.display_name, user %></p>
    <p class="list_item_text"><%= user.rating.round(1) %></p>
  </div>
  <% if admin? %>
    <div class="button_container">
        <div class="list_item_button">
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'list_item_button action delete' %>
        </div>
    </div>
  <% end %>
</div>