<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<div class="item_table">
  <div class="table_content">
    <%= render 'user_header' %>
  </div>
  <div class="table_content">
    <%= render @users %>
  </div>
</div>

<%= will_paginate %>