<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<table class="item_table">
  <thead class="table_content">
    <%= render 'user_header' %>
  </thead>
  <tbody class="table_content">
    <%= render @users %>
  </tbody>
</table>

<%= will_paginate %>