<% provide(:title, @user.display_name) %>
<h1><%= @user.display_name %></h1>

<button class="btn btn-primary" data-toggle="collapse" data-target="#biography">Biography</button>
<div id="biography" class="collapse in">
  <% if @user.biography.blank? %>
    This user has not filled in a biography
  <% else %>
    <%= @user.biography %>
  <% end %>
</div>

<hr>

<button class="btn btn-primary" data-toggle="collapse" data-target="#items">Items Offered</button>
<div id="items" class="collapse">
  <% if @items.length > 0 %>
    <table class="item_table">
      <thead class="table_content">
      <%= render 'items/item_header' %>
      </thead>
      <tbody class="table_content">
      <%= render @items %>
      </tbody>
    </table>
  <% else %>
    This user does not have any items for rent
  <% end %>
</div>