<tr class="list_header">
  <div class="text_container">
    <th class="list_item_text">Title</th>
    <th class="list_item_text">Available</th>
    <th class="list_item_text">Category</th>
  </div>
  <div class="button_container">
    <td class="list_item_button">
    <th class="empty_btemplate">Show</th>
    </td>
    <td class="list_item_button">
    <th class="empty_btemplate">Show</th>
    </td>
  </div>
</tr>