<tr class="list_header">
  <% if logged_in? %>
    <div class="button_container">
      <td class="list_item_button favorite-pad">
      <th class="empty_btemplate">Favorite</th>
      </td>
    </div>
  <% end %>
  <div class="text_container">
    <th class="list_item_text">Title</th>
    <th class="list_item_text">Availability</th>
    <th class="list_item_text">Category</th>
  </div>
  <div class="button_container">
    <td class="list_item_button">
      <th class="empty_btemplate">Show</th>
    </td>
    <% if local_assigns[:owner] %>
      <td class="list_item_button">
        <th class="empty_btemplate">Show</th>
      </td>
    <% end %>

    <td class="list_item_button">
      <th class="empty_btemplate">Show</th>
    </td>


  </div>
</tr>