<div class="list_header">

  <div class="fav_container">

  </div>

  <div class="text_container">

    <p class="list_item_text header">Title</p>
    <p class="list_item_text header">Availability</p>
    <p class="list_item_text header">Category</p>
  </div>
  <div class="button_container">
    <div class="list_item_button">
      <button class="empty_btemplate">Show</button>
    </div>

    <div class="list_item_button">
      <button class="empty_btemplate">Show</button>
    </div>


  </div>
</div>