<tr class="list_header">
  <div class="text_container">
  <th class="list_item_text">Item ID</th>
  <th class="list_item_text">Review title</th>
  <th class="list_item_text">Review description</th>
  <th class="list_item_text">Rating</th>
  </div>
  <div class="button_container">
    <td class="list_item_button">
    <th class="empty_btemplate">Show</th>
    </td>
    <td class="list_item_button">
    <th class="empty_btemplate">Show</th>
    </td>
  </div>
</tr>