<div class="list_header">
  <div class="text_container">
    <p class="list_item_text header">Item</p>
    <p class="list_item_text header">Review title</p>
    <p class="list_item_text header">Rating</p>
  </div>
  <div class="button_container">

  </div>
</div>