<footer class="footer">
  <small>
    The <a href="https://github.com/scalableinternetservices/Podz">amazing podz rental service</a>
    by <a href="https://github.com/scalableinternetservices/Podz">podz</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>